.legenda-topo {
    padding-top: 20px;
}

#chart {
  width: 100%;
  height: 100%;
  background: #ddd;
  overflow: hidden;
  font-size: 12px;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
  font-size: 12px;
}

rect {
  fill: #CCC;
  stroke: #fff;
  storke-width: 2px;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

rect.child {
  stroke-width: 2px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #4A6B8A;
  fill-opacity: .7;
}

.children:hover rect.child {
  fill: #7f8c8d;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 6px;
  font: 14px Arial;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.aecio {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 6px;
  font: 14px Arial;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.aecio div#aecio
{
    display:none;
}

​div.aecio:hover div#aecio
{
 display:block;   
}​


svg * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
